<div>
  <form id="myForm" [formGroup]="myForm">
    <div class="form-group">
      <label for="batchOption">Select Option:</label>
      <select name="batchOption" formControlName="batchOption" (change)="onChange($event)"  id="batchOption" class="form-control" >
        <option value="{{v.key}}" *ngFor="let v of options">{{v.value}}</option>
      </select>
    </div>
    <div class="form-group mt-2">
      <label for="comment">Sns:</label>
      <textarea class="form-control" formControlName="sns" name="sns" id="sns" rows="14" id="comment"></textarea>
      <div class="mt-2">

        <span style="font-size: 13px;">* Max Serial numbers to load in session is 50,000</span>
      </div>
    </div>
    <div class="form-group mt-2">
      <input type="submit" (click)="onSubmit()" [disabled]="!myForm.valid" value="Action" class="btn btn-success">
    </div>
  </form>
</div>
