
<button (click)="logout()" >log out</button>

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #222;border-bottom: 2px #76b900 solid;">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="assets/images/logo.png">
    </a>
  </div>
</nav>

<div class="container" style="padding-top: 50px;" *ngIf="displayPlatform">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="card" style="margin-bottom: 10px;">
        <div class="card-header">
          <div style="color:#6d6d6d;" *ngIf="username">Hello - {{username}} </div>
        </div>
        <div class="card-body">
          <p class="card-text" id="cardContent">
          <div  *ngIf="step == 1">
            <form id="myForm" [formGroup]="myForm">
              <div class="form-group">
                <label for="batchOption">Select Option:</label>
                <select name="batchOption" formControlName="batchOption" (change)="onChange($event)"  id="batchOption" class="form-control" >
                    <option value="{{v.key}}" *ngFor="let v of options">{{v.value}}</option>
                </select>
              </div>
              <div class="form-group mt-2">
                <label for="comment">Sns:</label>
                <textarea class="form-control" formControlName="sns" name="sns" id="sns" rows="8" id="comment"></textarea>
                <div class="mt-2">

                  <span style="font-size: 13px;">* Max Serial numbers to load in session is 50,000</span>
                </div>
              </div>
              <div class="form-group mt-2">
                <input type="submit" (click)="onSubmit()" [disabled]="!myForm.valid" value="Action" class="btn btn-success">
              </div>
            </form>
          </div>
          <div *ngIf="step==2">

              <div class="row" *ngIf="fetchData[0].selectedOption == 'SERIAL_NUMBER' && fetchData[0].notFound.length">
                  <div class="col-lg-12">
                      <b>Traceability information not found for Serial Number:</b> <mark>{{fetchData[0].notFound}} </mark>
                  </div>
              </div>


            <div class="row">
              <div class="col-lg-12">
                <b>Total Serial Result: <mark>{{fetchData[0].totalSearch}}</mark></b>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <b>Total Serial Numbers found: <mark>{{fetchData[0].totalFetch}}</mark></b>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-lg-12">


                <ul class="searchList" *ngIf="fetchData[0].dataFound.length">

                  <li *ngFor="let v of fetchData[0].dataFound">
                      <input type="checkbox" class="serialsSearch"  checked name="serialsSearch" value="{{v.SERIAL_NUMBER}}">{{v.SERIAL_NUMBER}}
                  </li>

                </ul>

              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">


                <div *ngIf="fetchData[0].dataFound.length">
                  <input type="button" class="btn btn-success createSessionAction" value="Create Session">
                  <input type="button" class="btn btn-danger returnBackAction" value="Cancel">
                </div>
                <p *ngIf="!fetchData[0].dataFound.length"><b>Traceability information not found..</b></p><br> <input type="button" class="btn btn-danger returnBackAction" value="Back">

              </div>
            </div>
          </div>
          <div *ngIf="step==3">

          </div>
        </div>
        <div class="card-footer" style="color:#6d6d6d">
          Step <i class="fas fa-chevron-right" style="font-size: 12px;padding-right: 5px;"></i>  <span id="stepContain">{{step}}</span>
        </div>
      </div>

      <div class="card" style="padding: 5px;">
        <div class="card-body">
          <div class="cleanSession"> <i class="fas fa-trash"></i> Clean User Sessions ({{username}})</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div> <!-- container end -->
